{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/property_form.css')}}">
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
{% endblock %}
<title>Register a new Property</title>

{% block main %}
    <div id = "background">
        <br>
        <br>
        {% for fieldName, errorMessages in form.errors.items(): %}
            {% for err in errorMessages: %}
                {{ err }}
            {% endfor %}
        {% endfor %}
        <h1><strong>Add New Property</strong></h1>
        
        <div id = "prop-form-area">
            <br>
            <form id="prop-form" action = "../property" method = "POST" enctype="multipart/form-data">
                {{ form.csrf_token  }}
                {{ form.title.label(class_ = "form-input-label") }}
                <br>
                {{ form.title(class_ = "form-input") }}
                <br>

                <br>
                {{ form.desc.label(class_ = "form-input-label") }}
                <br>
                {{ form.desc(class_ = "form-input") }}
                <br>

                <br>
                {{ form.no_bed.label(class_ = "form-input-label half") }} {{ form.no_bath.label(class_ = "form-input-label half") }}
                <br>
                {{ form.no_bed(class_ = "form-input half") }} {{ form.no_bath(class_ = "form-input half") }}
                <br>

                <br>
                {{ form.price.label(class_ = "form-input-label half") }} {{ form.typ.label(class_ = "form-input-label half") }}
                <br>
                {{ form.price(class_ = "form-input half") }} {{ form.typ(class_ = "form-input half") }}
                <br>

                <br>
                {{ form.location.label(class_ = "form-input-label") }}
                <br>
                {{ form.location(class_ = "form-input") }}
                <br>

                <!--<br>
                {{ form.email.label(class_ = "form-input-label") }}
                <br>
                {{ form.email(class_ = "form-input") }}
                <br>-->

                <br>
                {{ form.media.label(class_ = "form-input-label") }}
                <br>
                {{ form.media(class_ = "form-input form-media") }}
                <br>
                <br>
                {{ form.submit(class_ = "form-submit form-input form-button") }}
                <br>
                <br>
                <br>
                
            </form>
            
        </div>
        <br>
        <br>
        <br>
    </div>
    

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}