{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/property_info.css')}}"/>
{% endblock %}
<title>Register a new Property</title>

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <div id="property-area">
        <div id = "property-detail-image">
            <img src = '/{{ prop.media_addr }}' class = "property-picture"/>
        </div>
        <div id = "property-detail">
            <br>
            <h2>{{ prop.title }}</h2>
            <br>
            <br>
            <span class = "property-price half">{{ prop.price }}</span>  
            <span class = "property-type half">{{ prop.typ }}</span>
            <br>
            <br>
            <span>{{ prop.descr }}</span>
            <br>
            <br>
            <span class = "prop-beds"><i style='font-size:24px' class='icon fa fa-bed'></i>{{ prop.no_bed }} Bedrooms </span>
            <span><i style='font-size:24px' class='icon fa fa-bath'></i>  {{ prop.no_bath }} Bathrooms </span> </span>
            <br>
            <br>
            <span><i style='font-size:24px' class='icon fa fa-map-marker'></i>  {{ prop.loc }}</span>
            <br>
            <br>
            <a href = "#"><button id="email-realtor">Email Realtor</button></a>
            <br>
        </div>
        
    </div>
    <br>
        <br>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}